html {}

body {
    background: #141414;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 16px;
    color: #ddd;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.3;
}

a {
    color: #fff;
}

ul {
    margin: 0;
    padding: 0px 20px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
}

code {
    color: gold;
}

.sub {
    vertical-align: sub;
}

.sup {
    vertical-align: super;
}

.sub,
.sup {
    font-size: 12px;
}
