body {
	font-family: sans-serif;
	padding: 0 16px;
	color: #111;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

div {
	margin-bottom: 10px;
}

 pre {
	background: #fbfdff;
	border: 1px solid #e5e8ec;
	border-radius: 12px;
	box-sizing: border-box;
	font-size: .875rem;
	line-height: 1.6;
	margin: 0;
	overflow: auto;
	padding: 15px 0 0 15px;
	tab-size: 4;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	max-width: 600px;
	width: 100%;
	margin-bottom: 10px;
}

ol,
ul {
	margin: 0;
	padding: 0 0 0 15px;
}

ol li {
	margin: 10px;
	margin-bottom: 15px;
}
