body {
	background-color: #1f2022;
	color: #fff;
	font-family: roboto, sans-serif;
	font-size: 22px;
	padding: 0 32px;
	padding-bottom: 24px;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 35px;
	color: #49bb49;
}



.flex {
	display: flex;
	flex-wrap: wrap;
}

pre {
	border-radius: 12px;
	box-sizing: border-box;
	font-size: 22px;
	line-height: 1.6;
	margin: 0 24px 40px 0;
	padding: 20px;
	width: auto;
	max-width: fit-content;
	overflow-x: auto;
	color: #fff;
	border: 1px dotted #999;
}


.flex pre:nth-child(2) {
	background: #111e11;
}



img {
	width: 100%;
	max-width: fit-content;
	margin-bottom: 32px;
}




b {
	background: darkgreen;
	font-weight: normal;
	border-radius: 7px;
	padding: 0px 7px;
}






ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li,
ol li {
	margin-bottom: 16px;
}

ul.tasks {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

ul.tasks li {
	border: 1px solid #fff;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
	margin: 10px;
	background: green;
}

ul.tasks li a {
	display: block;
	border-radius: 5px;
	padding: 20px;
	text-decoration: none;
	color: #fff;
}

ul.tasks li:hover a {
	background-color: #fff;
	color: #222;
}

ul.tasks li:hover a {
	text-decoration: none;
	color: #222;
}




table {
	border-collapse: collapse;
	margin-bottom: 24px;
	overflow: hidden;
	width: 100%;
	max-width: fit-content;
	margin-right: 24px;
}

table tbody tr td {
	padding: 5px 7px;
	border: 1px solid #fff;
	border-radius: 5px;
	word-break: break-all;
}

table tbody tr th {
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	word-break: break-all;
}

table.tasks td {
	background: #213521;
}
