body {
	background-color: #000;
	color: #fff;
	font-family: roboto, sans-serif;
	font-size: 22px;
	padding: 0 32px;
	padding-bottom: 24px;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 35px;
	color: #49bb49;
}



.flex {
	display: flex;
	flex-wrap: wrap;
}

pre {
	border-radius: 12px;
	box-sizing: border-box;
	font-size: 22px;
	line-height: 1.6;
	margin: 0 24px 40px 0;
	padding: 20px;
	width: auto;
	max-width: fit-content;
	overflow-x: auto;
	color: #fff;
	border: 1px dotted #999;
}


.flex pre:nth-child(2) {
	background: #111e11;
}



img {
	width: 100%;
	max-width: fit-content;
	margin-bottom: 32px;
}




b {
	background: darkgreen;
	font-weight: normal;
	border-radius: 7px;
	padding: 0px 7px;
}
