body {
	background-color: #1f2022;
	color: #fff;
	font-family: monospace, sans-serif;
	padding: 16px;
	max-width: 1200px;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

.card {
	padding: 16px 24px 0px;
	border-radius: 16px;
	margin-bottom: 50px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	font-size: 22px;
	margin-bottom: 16px;
}

pre {
	border-radius: 12px;
	box-sizing: border-box;
	font-size: 22px;
	line-height: 1.6;
	margin: 0 0 24px 0;
	width: auto;
	max-width: fit-content;
	overflow-x: auto;
	color: #fff;
}

b {
	color: lightgreen;
	filter: blur(2px);
}


