.relative {
    position: relative;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    background: #555;
    margin-top: 40px;
    padding: 10px;
}

.absolute {
    position: absolute;
    padding: 5px;
    height: 30px;
    background: #777;
    right: -120px;
    top: -30px;
    border-radius: 5px;
}

.fixed {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background: #555;
    margin-top: 40px;
    padding: 10px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
background: #555;
    border-radius: 5px;
}